# Program to clean KPSS data and save file from 1976-2010
 Input files:
 - KPSSdata_DirectFromWeb_GroundTruth.csv'



 
 Output files: 
 - new_kpss_clean_11Apr2020.csv

In [2]:
import pandas as pd
import re
from cleanco import cleanco
import numpy as np
import datetime

In [3]:
#read KPSS raw file as a dataframe
kpss = pd.read_csv('KPSSdata_DirectFromWeb_GroundTruth.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
kpss2 = kpss[~kpss['permno'].isna()]

In [5]:
# convert to date time

kpss2['idate'] = pd.to_datetime(kpss2['idate'], errors='coerce').dt.strftime('%Y-%m-%d')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
kpss2['kpss_year'] = kpss2['idate'].apply(lambda x : x.split("-")[0])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
kpss2['kpss_year'] = kpss2['kpss_year'].astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
kpss2.kpss_year.max()

2010

In [9]:
kpss2.head()

,patnum,fdate,idate,pdate,permno,class,subclass,ncites,xi,kpss_year
84,1568124,6/12/1920,1926-01-05,NaN,12503.0,56,006000O,0.0,0.857102,1926
94,1568134,9/9/1922,1926-01-05,NaN,12503.0,239,584000O,0.0,0.857102,1926
102,1568142,8/13/1920,1926-01-05,NaN,10401.0,333,168000O,1.0,8.618030,1926
113,1568153,3/23/1923,1926-01-05,NaN,16029.0,NaN,NaN,NaN,NaN,1926
123,1568163,5/3/1920,1926-01-05,NaN,12503.0,56,011500O,1.0,0.857102,1926

In [10]:
del kpss2['fdate'], kpss2['idate'], kpss2['pdate'], kpss2['class'], kpss2['ncites']
del kpss2['xi'], kpss2['subclass']

In [14]:
kpss2 = kpss2.drop_duplicates(keep = 'first')

In [15]:
kpss2.head()

      patnum   permno  kpss_year
84   1568124  12503.0       1926
94   1568134  12503.0       1926
102  1568142  10401.0       1926
113  1568153  16029.0       1926
123  1568163  12503.0       1926

In [16]:
kpss2.nunique()

patnum       1927658
permno          7536
kpss_year         85
dtype: int64

In [17]:
now = datetime.datetime.now()

today =  (now.strftime("%d%b%Y"))
today

'11Apr2020'

In [18]:
name = "new_kpss_clean_" + today + ".csv"
name

'new_kpss_clean_11Apr2020.csv'

In [19]:
kpss2.to_csv(name, index = False)