# compute precision - recall 

input files: fuzzymatched_crsp_pv_30Apr20.csv, groundtruth_kpss_pv_crsp_28Apr20.csv

In [1]:
import pandas as pd

In [2]:
final = pd.read_csv("fuzzymatched_crsp_pv_30Apr20.csv")

In [11]:
#########load ground truth##################
gt = pd.read_csv("groundtruth_kpss_pv_crsp_28Apr20.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
final.columns

Index(['COMNAM', 'PERMNO', 'Ratio', 'Token', 'assignee_id', 'avg_low',
       'avg_new', 'comlow4', 'comlow_new', 'crsp', 'crsp_new', 'crsplen',
       'crsplen_new', 'finalmatch', 'new_fpr', 'new_ratio', 'new_token',
       'organization', 'orglow9', 'orglow_new', 'pv', 'pv_new', 'top2'],
      dtype='object')

In [1]:
final[final['finalmatch']==True]['PERMNO'].nunique()

In [157]:
final.columns

Index(['COMNAM', 'PERMNO', 'Ratio', 'Token', 'assignee_id', 'avg_low',
       'avg_new', 'comlow4', 'comlow_new', 'crsp', 'crsp_new', 'crsplen',
       'crsplen_new', 'finalmatch', 'new_fpr', 'new_ratio', 'new_token',
       'organization', 'orglow9', 'orglow_new', 'pv', 'pv_new', 'top2'],
      dtype='object')

In [160]:
final[final['finalmatch']==True][['avg','top2','avg_new','avg_low']]

          avg   top2  avg_new  avg_low
0       92.25  100.0     91.5     93.0
1       92.25  100.0     91.5     93.0
2       75.00  100.0     75.0     75.0
3       89.50   97.5     88.5     90.5
4       92.25  100.0     91.5     93.0
...       ...    ...      ...      ...
356019  86.50  100.0    100.0     73.0
356020  81.00  100.0     81.0     81.0
357432  75.25   83.5     83.5     67.0
357433  84.50  100.0    100.0     69.0
357434  61.00   78.5     68.0     54.0

[1444 rows x 4 columns]

In [197]:
final[final['finalmatch']==True][['avg','top2','avg_new','avg_low']].min()

avg        54.25
top2       73.00
avg_new    44.50
avg_low    42.00
dtype: float64

In [178]:
final[final['finalmatch']==True][['avg','top2','avg_new','avg_low']].max()

avg         99.0
top2       100.0
avg_new    100.0
avg_low     98.0
dtype: float64

In [190]:
final.loc[(final['finalmatch']==True)&(final['avg']==53.5),"finalmatch"] = False

In [198]:
final.loc[(final['finalmatch']==True)&(final['top2']==73)]

,COMNAM,PERMNO,Ratio,Token,assignee_id,avg_low,avg_new,comlow4,comlow_new,crsp,...,new_fpr,new_ratio,new_token,organization,orglow9,orglow_new,pv,pv_new,top2,avg
333945,VARIAN SEMICONDUCTOR EQP ASSC IN,86791.0,73.0,73.0,org_KR7FOBLR3HPi2m61bUSk,73.0,73.0,varian semiconductor eqp,varian semiconductor eqp,varian semiconductor eqp,...,92.0,73.0,73.0,"Varian Semiconductr EquipmentAssociates, Inc.",varian semiconductr equipmentassociates,varian semiconductr equipmentassociates,varian semiconductr equipmentassociates,varian semiconductr equipmentassociates,73.0,73.0

In [221]:
final[final['top2']>=73]['finalmatch'].value_counts()

True     1284
False     338
Name: finalmatch, dtype: int64

In [279]:
final[(final['finalmatch']==True)&(final['pv'].isna())]['PERMNO'].nunique() #48

48

In [280]:
final[(final['finalmatch']==True)&(final['pv_new'].isna())]['PERMNO'].nunique() #13

13

In [283]:
final[final['finalmatch']==True]['top2'].isna().sum()

40

In [285]:
final[(final['finalmatch']==True)&(final['top2'].isna())][['avg','avg_new','avg_low','top2']]

        avg  avg_new  avg_low  top2
262601  NaN     78.5      NaN   NaN
262604  NaN     71.5      NaN   NaN
262610  NaN     96.0      NaN   NaN
262612  NaN     85.5      NaN   NaN
273596  NaN     84.5      NaN   NaN
273880  NaN    100.0      NaN   NaN
274712  NaN    100.0      NaN   NaN
275222  NaN    100.0      NaN   NaN
276321  NaN    100.0      NaN   NaN
276515  NaN    100.0      NaN   NaN
276537  NaN    100.0      NaN   NaN
276612  NaN    100.0      NaN   NaN
276834  NaN    100.0      NaN   NaN
278221  NaN    100.0      NaN   NaN
278530  NaN    100.0      NaN   NaN
278701  NaN    100.0      NaN   NaN
278949  NaN    100.0      NaN   NaN
279749  NaN    100.0      NaN   NaN
280057  NaN    100.0      NaN   NaN
280313  NaN    100.0      NaN   NaN
280503  NaN    100.0      NaN   NaN
280917  NaN    100.0      NaN   NaN
281646  NaN    100.0      NaN   NaN
281728  NaN    100.0      NaN   NaN
281816  NaN    100.0      NaN   NaN
281897  NaN    100.0      NaN   NaN
289580  NaN    100.0      NaN   NaN
289582  NaN     75.0      NaN   NaN
289590  NaN     87.5      NaN   NaN
289592  NaN     75.0      NaN   NaN
308869  NaN    100.0      NaN   NaN
308880  NaN     91.0      NaN   NaN
308884  NaN    100.0      NaN   NaN
308887  NaN     91.0      NaN   NaN
333940  NaN     81.5      NaN   NaN
340450  NaN     81.5      NaN   NaN
340462  NaN     81.5      NaN   NaN
340463  NaN     82.0      NaN   NaN
340464  NaN     82.0      NaN   NaN
346965  NaN    100.0      NaN   NaN

In [537]:
## vary threshold value to get matches, verify agains ground truth to get precision and recall
no = 80
final[(final['finalmatch']==True)&
      ((final['top2']>=no)&(~(final['top2'].isna()))|
      ((final['top2'].isna())&((final['avg_new']>=no)|(final['avg_low']>=no)))) ][['PERMNO',
                                                                                   'organization',
                                                                                  'COMNAM']].nunique()

PERMNO           431
organization    1218
COMNAM           437
dtype: int64